ol li{
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

progress {
  border-radius: 7px; 
  width: 80%;
  height: 22px;
  margin-left: -11.5%;
}
progress::-webkit-progress-bar {
  background-color: black;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: darkred;
  border-radius: 1px;
}