ol li{
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

progress {
  border-radius: 7px; 
  width: 80%;
  height: 22px;
  margin-left: -11.5%;
}
progress::-webkit-progress-bar {
  background-color: black;
  border-radius: 7px;
}
progress::-webkit-progress-value {
  background-color: darkred;
  border-radius: 1px;
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: thin;
  outline: inset;
  cursor: pointer;
  padding: 12px 5px;
  transition: 0.3s;
  font-size: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}